.footer{
    width: 100%;
    height: 90px;
    background-color: rgb(0, 60, 255);
}
.c1{
    margin: 3px;
    margin-left: 30px;
    margin-top: 15px;
    display: inline;
}
.s1{
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 20%;
}
.s2{
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 20%;
}
.s3{
    color: white;
    margin-left: 50px;
    position: relative;
    bottom: 20%;
}
.s4{
    color: white;
    margin-left: 55%;
     border: 2px solid white; 
    border-radius: 50px; 
    padding: 5px;
    position: relative;
    bottom: 20%;
}
.container1{
    width: 100%;
    height: 700px;
}
.c3{
    position: absolute;
    top: 255px;
    left: 320px;
}
.c4{
    position: absolute;
    top: 200px;
    left:900px;
}
.container2{
    width:100%;
    height: 700px;
}
.c6{
    position: absolute;
    top: 985px;
    left: 500px;
}
.c7{
    position: absolute;
    top: 900px;
    left: 1100px;
}
.c8{
    position: absolute;
    top: 1250px;
    left: 1100px;
}
.s5{
    position: absolute;
    top: 1460px;
    left: 1100px;
    color: white;
}
.c9{
    position: absolute;
    top: 1250px;
    left: 1450px;
}
.s6{
    position: absolute;
    top: 1460px;
    left: 1450px;
    color: white;
}
.container3{
    width: 100%;
    height: 700px;
}
.c11{
    position: absolute;
    top: 1550px;
    left: 400px;
}
.c12{
    position: absolute;
    top: 1650px;
    left: 650px;
}
.c13{
    position: absolute;
    top: 1600px;
    left: 900px;
}
.c14{
    position: absolute;
    top: 1920px;
    left: 980px;
}
.container4{
    width: 100%;
    height: 700px;
    background-color:rgb(0, 81, 255);
}
.c15{
    position: absolute;
    left: 39.5%;
}
.c16{
    position: absolute;
    left: 6%;
    top: 2300px;
}
.c17{
    position: absolute;
    left: 6%;
    top: 2600px;
}
.c18{
    position: absolute;
    left: 56%;
    top: 2680px;
}
.container5{
    width: 100%;
    height: 700px;
    background-color: rgb(0, 153, 255);
}
.c19{
    position: absolute;
    top: 2900px;
    left: 700px;
}
.c20{
    position: absolute;
    top: 2900px;
    left: 1%;
}
.c21{
    position: absolute;
    top: 2897px;
    left: 70%;
}
.d1{
    font-size: 50px;
    position: absolute;
    top: 3500px;
    left: 3%;
    color: white;
}
.c22{
    position: absolute;
    top: 3500px;
    left: 29%;
}
.container6{
    width: 100%;
    height: 700px;
}
.container7{
    width: 100%;
    height: 900px;
    background-color: rgb(0, 153, 255);
}
.d2{
    font-size: 200px;
    position: absolute;
    left:60%;
    top: 4500px;
    color: white;
}
.container8{
    width: 100%;
    height: 500px;
    background-color: rgb(0, 81, 255);
    position: relative;
}
.d3{
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
}
.d4{
    width: 150px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 5px;
    position: absolute;
    top: 60%;
    left: 15%;
    color: white;
    text-align: center;
}
.c24{
    position: absolute;
    top: 10%;
    left: 50%;
}
.c25{
    position: absolute;
    top: 10%;
    left: 65%;
}
.c26{
    position: absolute;
    top: 10%;
    left: 80%;
}
.container9{
    width: 100%;
    height: 400px;
    background-color: white;
    position: relative;
}
.d5{
    position: absolute;
    left: 28%;
    color: rgb(0, 81, 255);
    font-size: 50px;
    top: 1%;
}
.c27{
    position: absolute;
    left: 10%;
    bottom: 0%;
}
.c28{
    position: absolute;
    left: 26%;
    bottom: 0%;
}
.c29{
    position: absolute;
    left: 43.5%;
    bottom: 0%;
}
.c30{
    position: absolute;
    left: 61%;
    bottom: 0%;
}
.c31{
    position: absolute;
    left: 78.5%;
    bottom: 0%;
}
.container10{
    width: 100%;
    height: 250px;
    position: relative;
    background-color: rgb(0, 81, 255);
}
.c32{
    position: absolute;
    top: 30%;
    left: 3%;
}
.e1{
    position: absolute;
    top: 40%;
    left: 30%;
    color: white;
}
.e2{
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
}
.e3{
    position: absolute;
    top: 60%;
    left: 30%;
    color: white;
}
.e4{
    position: absolute;
    top: 40%;
    left: 45%;
    color: white;
}
.e5{
    position: absolute;
    top: 50%;
    left: 45%;
    color: white;
}
.e6{
    position: absolute;
    top: 60%;
    left: 45%;
    color: white;
}
.e7{
    position: absolute;
    top: 40%;
    left: 57%;
    color: white;
}
.e8{
    position: absolute;
    top: 50%;
    left: 57%;
    color: white;
}
.e9{
    position: absolute;
    top: 60%;
    left: 57%;
    color: white;
}
